@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(84, 75, 242);
  background: linear-gradient(
    90deg,
    rgba(84, 75, 242, 1) 0%,
    rgba(33, 33, 121, 1) 50%,
    rgba(10, 10, 119, 1) 100%
  );
}

.container {
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
